<!DOCTYPE html>
<html>
  <title><%=data.Username%> MyAccount</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/generatedTable.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/search.css" />
  </head>
  <script type="text/javascript">
  function updateName() {
    let name = document.getElementById("newName")
    fetch("/api/user",{
      method:'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body:JSON.stringify({
        'name':name.value
      })
    })
    .then((data) => data.json())
    .then((data)=>{
      if (data.response) {
        let newName = document.getElementById("name");
        var text = document.createTextNode(name.value);
        newName.appendChild(text);
      }
    })
  }
  </script>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <a href="/group/">Groups</a>
      <% if(username==false){ %>
      <div class="topnav-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
      <% }%>
      <%if(username){ %>
      <div class="topnav-right">
        <a href="/account/" id="account"><%=username.Email %></a>
        <a href="/account/group" id="group">Group</a>
      </div>
      <%}%>
    </div>
    <div class="home">
      <div id="GeneratedTable">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <th colspan="1" class="folder">My Username</th>
    </tr>
    <tr>
      <td nowrap="nowrap" align="center" valign="top" class="account">
        <h2><%=data.Username%></h2>
      </td>
      <td valign="top" class="ltgreybackground">
        <div class="larger"><a href="https://github.com/bhackfox/CVEDatabase" target="_blank">About User <%=data.Username%></a></div>
      </td>
    </tr>
    <tr>
      <th colspan="2">Name</th>
    </tr>
    <tr>
      <td nowrap="nowrap" align="left" valign="top">
        <div class="smaller" id="name"><%= data.Name ? data.Name : "..."%></div>
        <div>
          <input type="text" id="newName" placeholder="Name">
          <button type="submit" name="button" onclick="updateName()">OK</button>
        </div>
      </td>
    </tr>
    <tr>
      <th colspan="2">Group</th>
    </tr>
    <tr>
      <td nowrap="nowrap" align="left" valign="top">
        <div class="larger"><a href="/group/<%= group ? group.GroupName : ""%>"><%= group ? group.GroupName : "..."%></a></div>
      </td>
    </tr>
    <tr>
      <th colspan="2" align="center" valign="top">
        <form action="/logout" method="get">
          <button type="submit" name="button">Logout</button>
        </form>
      </th>
    </tr>
<%if(cves[0].CVEName != null){%>
<table id="table">
  <tr>
    <td class="title">CVE Name</td>
    <td class="title">CVE Title</td>
    <td class="title">Description</td>
    <td class="title">Time</td>
  </tr>
    <%for(var i=0; i<cves.length; i++){%>
      <% var a = new Date(cves[i].TimeCreation);var year = a.getYear()-100; month = a.getMonth()+1;var date = a.getDate();var hour = a.getHours();var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds(); var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;%>
      <tr>
        <td><a href="../CVE/<%=cves[i].CVEName%>"><%=cves[i].CVEName%></a></td>
        <td><%=cves[i].CVETitle%></td>
        <td><%=cves[i].CVEDescription.substring(0,18)%>...</td>
        <td><%=time%></td>
      </tr>
      <%}%>
  <%}%>
</table>
  <form action="/account/newCVE" method="get">
    <button type="submit">New CVE</button>
  </form>
    </div>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
