<!DOCTYPE html>
<html>
  <head>
    <title>CVE Group Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/generatedTable.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/search.css" />
    <link rel="stylesheet" type="text/css" href="css/forms.css" />
    <link rel="stylesheet" type="text/css" href="css/chat.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <a href="/group/">Groups</a>
      <a href="/tag/">Tags</a>
      <a href="/chat/">Chat</a>
      <div class="topnav-right">
        <a href="/account/" id="account"><%=username.Email %></a>
        <a href="/account/group" id="group">Group</a>
      </div>
    </div>
    <div id="online">

    </div>
    <div id="messages">
      <%for(var i=0;i<messages.length;i++){%>
        <div>
          <%if(messages[i].Username===username.Username){%>
          <div class="container darker">
          <%}%>
          <%if(messages[i].Username!==username.Username){%>
          <div class="container">
          <%}%>
          <% var a = new Date(messages[i].TimeText);var year = a.getYear()-100; month = a.getMonth()+1;var date = a.getDate();var hour = a.getHours();var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds(); var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;%>
            <h5 class="right"><%=messages[i].Username%>: <%=messages[i].TextContent%></h5>
            <span class="time-right"><%=time%></span>
          </div>
        </div>
      <%}%>
    </div>
    <form id="form" action="" class="search-bottom">
      <input id="input" type="search" name="search" placeholder="Send message" autocomplete="off"/><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      function toBottom()
      {
        window.scrollTo(0, document.body.scrollHeight);
      }
      window.onload=toBottom;
      var socket = io({transports: ['websocket'], upgrade: false});

      var messages = document.getElementById('messages');
      var form = document.getElementById('form');
      var input = document.getElementById('input');

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          socket.emit('group', {user:"<%=username.Username %>",value:input.value,time: Date.now()});
          input.value = '';
        }
      });
      socket.emit('register',{username:"<%=username.Username %>",group:"<%=group %>"})
      socket.on('group', function(msg) {
        var item = document.createElement('div');
        var a = new Date(msg.time);
        var year = a.getYear()-100;
        var month = a.getMonth()+1;
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();
        var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds();
        var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;

        if (msg.user === "<%=username.Username %>") {
          item.innerHTML = '<div class="container darker"><h5 class="right">'+msg.user+': '+msg.value+'</h5><span class="time-right">'+time+'</span></div>';
        }
        else{
          item.innerHTML = '<div class="container"><h5 class="left">'+msg.user+': '+msg.value+'</h5><span class="time-right">'+time+'</span></div>';
        }
        //item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    </script>
    <div class="footer">
      <div class="inner">
        <div class="flex">
          <div class="sapienza">
            <p>La Sapienza</p>
          </div>
          <div class="autore">
            <p><a id="git" href="https://github.com/bhackfox/">Federico Rosatelli</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
