<!DOCTYPE html>
<html>
  <title><%=data.CVEName%> CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/generatedTable.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <a href="/group/">Groups</a>
      <a href="/tag/">Tags</a>
      <a href="/chat/">Chat</a>
      <% if(username==false){ %>
        <div class="topnav-right">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
        <% }%>
        <%if(username){ %>
          <div class="topnav-right">
            <a href="/account/" id="account"><%=username.Email %></a>
            <a href="/account/group" id="group">Group</a>
          </div>
          <%}%>
        </div>
    <%if(username.Username === data.CVEUserCreate){ %>
    <div>
      <form action="/CVE/deleteCVE" method="post">
        <button type="submit" name="button" value="<%=data.CVEName%>"><i style="color:red;"class='material-icons'>delete_outline</i></button>

      </form>
    </div>
    <%}%>
    <div id="GeneratedTable">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
	<tr>
		<th colspan="2">CVE-Name</th>
	</tr>
	<tr>
		<td nowrap="nowrap" align="center" valign="top">
			<h2><%=data.CVEName%></h2>
		</td>
		<td valign="top" class="ltgreybackground">
      <div class="dropdown">
        <div class="larger"><a id="github" href="https://github.com/BHackFox/CVEDatabase" target="_blank">Learn more at CVE Database by Federico Rosatelli</a></div>
        <a id="github" href="https://github.com/BHackFox/CVEDatabase" target="_blank">
          <div class="dropdown-content">
            <div class="dropdown-image" id="content">
              .
            </div>
          </div>
        </a>
      </div>
			<div class="smaller">&bull; Federico Rosatelli</div>
      <div class="smaller">&bull; 1882771</div>
		</td>
	</tr>
  <tr>
    <th nowrap="nowrap" align="center" valign="top">Title</th>
		<th valign="top" class="sub">User</th>
	</tr>
	<tr>
		<td nowrap="nowrap" align="center" valign="top">
      <h2><%=data.CVETitle%></h2>
    </td>
    <td valign="top" class="ltgreybackground">
			<div class="center"><a href="http://127.0.0.1:3000/user/<%=data.CVEUserCreate%>" target="_blank"><%=data.CVEUserCreate%></a></div>
		</td>
	</tr>
	<tr>
		<th colspan="2">Description</th>
	</tr>
	<tr>
		<td colspan="2"><%=data.CVEDescription%></td>
	</tr>
	<tr>
		<th colspan="2">Tags</th>
	</tr>
  <tr>
    <td colspan="1">
      <div class="row">
      <% for(var i=0; i<tags.length; i++){ %>
          <div class="dropdown">
            #<%=tags[i].TagName%>
            <div class="dropdown-content" id="<%=tags[i].TagName%>">
              <p><%=tags[i].TagDescription%></p>
            </div>
          </div>
      <%}%>
      </div>
    </td>
  </tr>
    </div>
    <div class="footer">
      <div class="inner">
        <div class="flex">
          <div class="sapienza">
            <p>La Sapienza</p>
          </div>
          <div class="autore">
            <p><a id="git" href="https://github.com/bhackfox/">Federico Rosatelli</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    document.getElementById("github").onmouseover = function(){
      fetch("https://api.github.com/users/bhackfox")
      .then((data)=>data.json())
      .then((data)=>{
        let drp = document.getElementById("content");
        drp.style.backgroundImage = "url("+data.avatar_url+")";
      })
    }
  </script>
</html>
