<!DOCTYPE html>
<html>
  <title>CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/search.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/6.6.96/css/materialdesignicons.min.css">
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <a href="/group/">Groups</a>
      <a href="/tag/">Tags</a>
      <a href="/chat/">Chat</a>
      <% if(username==false){ %>
        <div class="topnav-right">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
        <% }%>
        <%if(username){ %>
          <div class="topnav-right">
            <a href="/account/" id="account"><%=username.Email %></a>
            <a href="/account/group" id="group">Group</a>
          </div>
        <%}%>
      </div>
  </head>
  <body>
    <form>
      <input type="search" name="search" placeholder="Search CVE"/>
      <button type="submit">Search</button>
    </form>
    <table id="table">
      <tr>
        <td>CVE Name</td>
        <td>CVE Title</td>
        <td>User</td>
        <td>Tags</td>
        <td>Time</td>
        <td>Verified</td>
      </tr>
  <%for(var i=0; i<cves.length; i++){%>
    <% var a = new Date(cves[i].TimeCreation);var year = a.getYear()-100; month = a.getMonth()+1;var date = a.getDate();var hour = a.getHours();var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds(); var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;%>
    <tr>
      <% var html1 = "<i class='material-icons' style='color:#96b365'>done_outline</i>"
          var html2 = "<i class='material-icons' style='color:#ff0000'>close</i>"
      %>
      <td><a href="<%=cves[i].CVEName%>"><%=cves[i].CVEName%></a></td>
      <td><%=cves[i].CVETitle%></td>
      <td><a href="../user/<%=cves[i].CVEUserCreate%>"><%=cves[i].CVEUserCreate%></a></td>
      <td><%for(var k=0; k<cves[i].tags.length; k++){%>
        <a href="../tag/?search=<%=cves[i].tags[k].TagName%>">#<%=cves[i].tags[k].TagName%></a>
        <%}%></td>
      <td><%=time%></td>
      <td><%-cves[i].CVEConfirmation==1 ? html1 : html2%></td>
    </tr>
  <%}%>
  </table>
  <form id="formrow" action="/CVE/" method="get">

  </form>
  <div class="footer">
    <div class="inner">
      <div class="flex">
        <div class="sapienza">
          <p>La Sapienza</p>
        </div>
        <div class="autore">
          <p><a id="git" href="https://github.com/bhackfox/">Federico Rosatelli</a></p>
        </div>
      </div>
    </div>
  </div>
  </body>
  <script type="text/javascript">
    const params = new URLSearchParams(window.location.search);
    var val = params.get('row');
    var search = params.get('search');
    if (val && val>0) {
      var btn = document.createElement("button");
      btn.type = "submit";
      btn.name = "row";
      btn.value = parseInt(val)-20;
      btn.innerText = "<<"+(parseInt(val)-19).toString()+"-"+(parseInt(val)).toString();
      var form = document.getElementById('formrow');
      if (search) {
        var input = document.createElement("input");
        input.setAttribute("type","hidden");
        input.setAttribute("name","search");
        input.setAttribute("value",search);
        form.appendChild(input);
      }
      form.appendChild(btn);
      <%if(cves.length > 19){%>
        var btn = document.createElement("button");
        btn.type = "submit";
        btn.name = "row";
        btn.value = parseInt(val)+20;
        btn.innerText = (parseInt(val)+1).toString()+"-"+(parseInt(val)+20).toString()+">>";
        var form = document.getElementById('formrow');
        form.appendChild(btn);
      <%}%>
    }
    else {
      <%if(cves.length > 19){%>
        var btn = document.createElement("button");
        btn.type = "submit";
        btn.name = "row";
        btn.value = 20;
        btn.innerText = "20 >>";
        var form = document.getElementById('formrow');
        if (search) {
          var input = document.createElement("input");
          input.setAttribute("type","hidden");
          input.setAttribute("name","search");
          input.setAttribute("value",search);
          form.appendChild(input);
        }
        form.appendChild(btn);
      <%}%>
      var log = 2;
    }
  </script>
</html>
