<!DOCTYPE html>
<html>
  <title>Join <%=data.GroupName%>, CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <a href="/group/">Groups</a>
      <% if(username==false){ %>
      <div class="topnav-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
      <% }%>
      <%if(username){ %>
      <div class="topnav-right">
        <a href="/account/" id="account"><%=username.Email %></a>
        <a href="/account/group" id="group">Group</a>
      </div>
      <%}%>
      </div>
    <h1>Join <%=data.GroupName%>!</h1>
    <h2><%=data.InviteMember%> wants you to join his group: <%=data.GroupName%></h2>
    <%if(join){%>
      <div class="login-form">
        <form action="/group/groupJoin" method="POST">
  				<input type="hidden" name="username" value="<%=data.Username%>">
          <input type="hidden" name="GroupName" value="<%=data.GroupName%>">
          <input type="hidden" name="UserRole" value="<%=data.UserRole%>">
  				<input type="hidden" name="UrlInvite" value="<%=data.UrlInvite%>">
  				<input type="submit" value="JOIN!">
  			</form>
    <%}%>
    <%if(join==false){%>
      <h1>You can't access here! Try to log in</h1>
    <%}%>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
