<!DOCTYPE html>
<html>
  <title>My Group <%=data.GroupName%> - CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/generatedTable.css" />
    <link rel="stylesheet" type="text/css" href="css/search.css" />
  </head>
  <script type="text/javascript">
    function apiUser(user,id){
      fetch("/api/user/"+user)
      .then(data => data.json())
      .then((data) => {
        if (!data.Name) {
          data.Name="...";
        }
        let di = document.getElementById(id);
        if (di.textContent.includes(data.Email)) {
          di.removeChild(di.childNodes[0]);
        }
        var text = document.createTextNode(data.Email+"\n"+data.Name);
        di.appendChild(text)
      });
    }
  </script>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/user/">Users</a>
    <a href="/CVE/">CVEs</a>
    <a href="/group/">Groups</a>
    <div class="topnav-right">
      <a href="/account/" id="account"><%=username.Email %></a>
      <a href="/account/group" id="group">Group</a>
    </div>
  </div>
  <body>
    <div id="GeneratedTable">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <th colspan="1" class="folder">My Group</th>
        </tr>
        <tr>
          <td nowrap="nowrap" align="center" valign="top" class="account">
            <h2><%=data.GroupName%></h2>
          </td>
          <td valign="top" class="ltgreybackground">
            <div class="larger"><a href="/group/<%data.GroupName%>" target="_blank">About <%=data.GroupName%> Group</a></div>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="center" valign="top">Description</th>
          <th valign="top" class="sub">Number Of Members</th>
          <th valign="top" class="sub">Number Of CVE</th>
        </tr>
        <tr>
          <td nowrap="nowrap" align="center" valign="top">
            <div class="smaller">&bull; <%=data.GroupDescription%></div>
          </td>
          <td valign="top">
            <div class="center">&bull; <%=data.N_Users%></div>
          </td><td valign="top">
            <div class="center">&bull; <%=data.Sum_Users%></div>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="center" valign="top">Users</th>
          <th valign="top" class="sub">Role</th>
          <th valign="top" class="sub">CVE Created</th>
        </tr>
        <td nowrap="nowrap" align="left" valign="top">
          <%for (var i = 0; i < users.length; i++) {%>
            <div class="dropdown">
              <div class="center" onmouseover="apiUser('<%= users[i].Username %>','<%=i%>')">&bull; <a href="/user/<%=users[i].Username%>"><%=users[i].Username%></a></div>
              <div class="dropdown-content" id="<%=i%>"></div>
            </div>
          <%}%>
        </td>
        <td nowrap="nowrap" align="left" valign="top">
          <%for (var i = 0; i < users.length; i++) {%>
          <div class="center">&bull; <%=users[i].UserRole%></div>
          <%}%>
        </td>
        <td valign="top">
          <%for (var i = 0; i < users.length; i++) {%>
          <div class="center">&bull; <%=users[i].NUM%></div>
          <%}%>
        </td>
        <tr>
          <th nowrap="nowrap" align="center" valign="top">User Last CVE Created</th>
          <th valign="top" class="sub">CVE Name</th>
          <th valign="top" class="sub">CVE Time</th>
        </tr>
        <td valign="top" class="ltgreybackground">
          <%for (var i = 0; i < cves.length; i++) {%>
          <div class="center">&bull; <a href="/user/<%=cves[i].Username%>"><%=cves[i].Username%></a></div>
          <%}%>
        </td>
        <td valign="top" class="ltgreybackground">
          <%for (var i = 0; i < cves.length; i++) {%>
          <div class="center">&bull; <a href="/CVE/<%=cves[i].CVEName%>"><%=cves[i].CVEName%></a></div>
          <%}%>
        </td>
        <td valign="top" class="ltgreybackground">
          <%for (var i = 0; i < cves.length; i++) {%>
          <% var a = new Date(cves[i].TimeCreation);var year = a.getYear()-100; month = a.getMonth()+1;var date = a.getDate();var hour = a.getHours();var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds(); var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;%>
          <div class="center">&bull; <%=time%></div>
          <%}%>
        </td>
        <form id="formrow" action="/account/group/" method="get">

        </form>
        <tr>
          <th colspan="3">Add New Member</th>
        </tr>
        <td nowrap="nowrap" align="center" valign="top">
          <form class="" action="/group/invite" method="post">
            <input type="text" name="username" placeholder="Username...">
            <select name="UserRole">
              <option value="ADMIN">ADMIN</option>
              <option value="USER">USER</option>
            </select>
            <input type="hidden" name="GroupName" value="<%=data.GroupName%>">
            <input type="hidden" name="InviteMember" value="<%=username.Username%>">
            <button type="submit">Add</button>
          </form>
        </td>
      </table>
    </div>
    <div class="footer">
      <div class="inner">
        <div class="flex">
          <div class="sapienza">
            <p>La Sapienza</p>
          </div>
          <div class="autore">
            <p><a id="git" href="https://github.com/bhackfox/">Federico Rosatelli</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    const params = new URLSearchParams(window.location.search);
    var view = params.get('view');
    if (view && view == "all") {
      var btn = document.createElement("button");
      btn.type = "submit";
      btn.name = "view";
      btn.value = 20;
      btn.innerText = "View Only 20 CVEs"
      var form = document.getElementById('formrow');
      form.appendChild(btn);
      var btn = document.createElement("button");
      btn.type = "submit";
      btn.name = "view";
      btn.value = 10;
      btn.innerText = "View Only 10 CVEs"
      var form = document.getElementById('formrow');
      form.appendChild(btn);
    }
    else {
      var btn = document.createElement("button");
      btn.type = "submit";
      btn.name = "view";
      btn.value = "all";
      btn.innerText = "View All";
      var form = document.getElementById('formrow');
      form.appendChild(btn);
      var log = 2;
    }
  </script>
</html>
