<!DOCTYPE html>
<html>
  <title><%=dataobj.Username%> CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/generatedTable.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <a href="/group/">Groups</a>
      <a href="/tag/">Tags</a>
      <a href="/chat/">Chat</a>
      <% if(username==false){ %>
      <div class="topnav-right">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
      <% }%>
      <%if(username){ %>
      <div class="topnav-right">
        <a href="/account/" id="account"><%=username.Email %></a>
        <a href="/account/group" id="group">Group</a>
      </div>
      <%}%>
    </div>
    <div class="home">
      <div id="GeneratedTable">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <th colspan="2">Username</th>
    </tr>
    <tr>
      <td nowrap="nowrap" align="center" valign="top">
        <h2><%=dataobj.Username%></h2>
      </td>
      <td valign="top" class="ltgreybackground">
        <div class="larger">
          <a href="https://github.com/bhackfox/CVEDatabase" target="_blank">About User <%=dataobj.Username%></a>
          <div class="">

          </div>
          <div class="smaller"><a href="mailto:<%=dataobj.Email%>"><%=dataobj.Email%></a></div>
        </div>
      </td>
    </tr>
    <tr>
      <th colspan="2">Name</th>
    </tr>
    <tr>
      <td nowrap="nowrap" align="left" valign="top">
        <div class="smaller"><%= dataobj.Name ? dataobj.Name : "..."%></div>
      </td>
    </tr>
    <tr>
      <th colspan="2">Group</th>
    </tr>
    <td nowrap="nowrap" align="left" valign="top">
      <div class="left"><a href="/group/<%= group ? group.GroupName : ""%>"><%= group ? group.GroupName : "..."%></a></div>
    </td>
<%if(cves[0].CVEName != null){%>
<table id="table">
  <tr>
    <td>CVE Name</td>
    <td>CVE Title</td>
    <td>Description</td>
    <td>Time</td>
  </tr>
    <%for(var i=0; i<cves.length; i++){%>
      <% var a = new Date(cves[i].TimeCreation);var year = a.getYear()-100; month = a.getMonth()+1;var date = a.getDate();var hour = a.getHours();var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds(); var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;%>
      <tr>
        <td><a href="../CVE/<%=cves[i].CVEName%>"><%=cves[i].CVEName%></a></td>
        <td><%=cves[i].CVETitle%></td>
        <td><%=cves[i].CVEDescription.substring(0,18)%>...</td>
        <td><%=time%></td>
      </tr>
      <%}%>
  <%}%>
    </div>
    <div class="footer">
      <div class="inner">
        <div class="flex">
          <div class="sapienza">
            <p>La Sapienza</p>
          </div>
          <div class="autore">
            <p><a id="git" href="https://github.com/bhackfox/">Federico Rosatelli</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
