<!DOCTYPE html>
<html>
  <title><%=dataobj.Username%> CVEDatabase</title>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/dropdown.css" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link rel="stylesheet" type="text/css" href="css/table.css" />
    <link rel="stylesheet" type="text/css" href="css/topnav.css" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/user/">Users</a>
      <a href="/CVE/">CVEs</a>
      <% if(username==false){ %>
        <div class="topnav-right">
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
        <% }%>
        <%if(username){ %>
          <div class="topnav-right">
            <a href="/group/">Group</a>
            <a href="/account/"><%=username %></a>
          </div>
        <%}%>
      </div>
  </head>
  <body>
    <div class="home">
      <p style="margin-bottom: 0in; line-height: 100%"><font size="7" style="font-size: 40pt"><u><%=dataobj.Username%></u></font></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/></p>
<p align="right" style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
<font size="6" style="font-size: 26pt"><%=dataobj.Email%></font></p>
<p align="right" style="margin-bottom: 0in; line-height: 100%; text-decoration: none">
<br/>
<table id="table">
  <tr>
    <td>CVE Name</td>
    <td>CVE Title</td>
    <td>Description</td>
    <td>Time</td>
  </tr>
<%for(var i=0; i<cves.length; i++){%>
  <% var a = new Date(cves[i].TimeCreation);var year = a.getYear()-100; month = a.getMonth()+1;var date = a.getDate();var hour = a.getHours();var min = a.getMinutes() < 10 ? '0' + a.getMinutes() : a.getMinutes();var sec = a.getSeconds() < 10 ? '0' + a.getSeconds() : a.getSeconds(); var time = date + '/' + month + '/' + year + ' ' + hour + ':' + min + ':' + sec;%>
<tr>
  <td><a href="../CVE/<%=cves[i].CVEName%>"><%=cves[i].CVEName%></a></td>
  <td><%=cves[i].CVETitle%></td>
  <td><%=cves[i].CVEDescription.substring(0,18)%>...</td>
  <td><%=time%></td>
</tr>
<%}%>
    </div>
    <div class="footer">
      <h1>ciao</h1>
    </div>
  </body>
</html>
